.home-banner {
  background-image: url(../../assets/images/banner.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
  height: 100vh;
}

.home-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set width to cover the banner */
  height: 100%; /* Set height to cover the banner */
  background: linear-gradient(
    to top,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  z-index: 1; /* Make sure the overlay is above the background */
}

.home-banner > * {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

.home-motivation {
  background-image: url(../../assets/images/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 600px;
  height: 300px;
}

.home-motivation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set width to cover the banner */
  height: 100%; /* Set height to cover the banner */
  background: rgba(17, 17, 17, 0.37);
  z-index: 1; /* Make sure the overlay is above the background */
}

.home-motivation > * {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

.home-motivation-left {
  background-image: url(../../assets/images/pattern-02.png);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.home-mission {
  background-image: url(../../assets/images/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 600px;
  height: 300px;
}

.home-mission::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set width to cover the banner */
  height: 100%; /* Set height to cover the banner */
  background: rgba(17, 17, 17, 0.37);
  z-index: 1; /* Make sure the overlay is above the background */
}

.home-mission > * {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

.home-mission-left {
  background-image: url(../../assets/images/pattern-02.png);
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}

/* ============about=========== */
.image-container {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.slick-dots {
  bottom: 25px;
}

.slick-dots li {
  margin: 0 0;
}

.slick-dots li button::before {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  content: "";
  opacity: 1;
  background: #ddd;
  display: block;
  transform: scaleY(1); /* Default scale */
  transform-origin: bottom; /* Scale from bottom */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
  opacity: 1;
  transform: scaleY(1.4); /* Scale vertically on hover */
  background-color: #16a34a; /* Optional: Change background color on hover */
}

.slick-dots li.slick-active button::before {
  opacity: 1;
  transform: scaleY(1.4); /* Scale vertically on hover */
  background-color: #16a34a; /* Optional: Change background color on hover */
}

:where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):not(.active, .btn):hover,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):not(.active, .btn):hover {
  background-color: none;
}
